<!DOCTYPE html>
<html ng-app="topnews">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="description" content="Rank your news" />
    <meta name="keywords" content="news, media, grade, rate, rank, news media, news grade, news rate, news rank, media rank,
        media rate, media grade, news media grade, news media rank, news media rate, credit, news credit, news media credit, media credit
        credibility, news credibility, media credibility, news media credibility, credible news, credible media, credible news media
        accountable news, accountable media, accountable news media"/>
    <meta name="googlebot" content="index"/>
    <meta name="googlebot-news" content="Rank your newz"/>
    <meta property="og:title" content="newzrank"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:url" content="http://news.kerrywpowell.com"/>
    <meta property="og:image" content="http://news.kerrywpowell.com/logos/newsrank.png"/>
    <meta property="og:description" content="Rank your news"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="newzrank">
    <meta name="web-app-title" content="newzrank">

    <title>newzrank</title>

    <link rel="icon" href="/logos/logo-152x152.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/logos/logo-60x60.png" rel="apple-touch-icon" />
    <link href="/logos/logo-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="/logos/logo-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="/logos/logo-152x152.png" rel="apple-touch-icon" sizes="152x152" />

    <link rel="canonical" href="news.kerrywpowell.com" />
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/stylesheets/app.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.12/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.2.12/angular-touch.min.js"></script>

    <!--<script src="build/news.min.js"></script>-->

    <script>
        if (
            navigator.appVersion.indexOf("MSIE 9") != -1 ||
            navigator.appVersion.indexOf("MSIE 8") != -1 ||
            navigator.appVersion.indexOf("MSIE 7") != -1||
            navigator.appVersion.indexOf("MSIE 6") != -1||
            navigator.appVersion.indexOf("MSIE 5") != -1
        ) {
            alert('Your browser is not supported, please update your browser');
            window.location = 'http://chrome.google.com';
        }
    </script>

    <script src="/AppController.js"></script>
    <script src="/controllers/OrgController.js"></script>
    <script src="/controllers/FeedsController.js"></script>
    <script src="/controllers/ArticleController.js"></script>

    <script src="/factories/OrgFactory.js"></script>
    <script src="/factories/FeedsFactory.js"></script>
    <script src="/factories/ArticleFactory.js"></script>
    <script src="/factories/MobileFactory.js"></script>
    <script src="/factories/BreadcrumbFactory.js"></script>

    <base href="/">
</head>
<body ng-controller="AppController" ng-swipe-left="navigate('forward')" ng-swipe-right="navigate('back')">

<header class="site-header">
    <div class="container">
        <a href="/#!/">
            <img src="logos/newsrank.png">
            <h1><span class="yellow">newz</span><span class="gray">rank</span></h1>
        </a>
    </div>
    <nav class="nav">
        <div class="breadcrumbs">
            <span class="breadcrumb" ng-repeat="breadcrumb in breadcrumbs">
                <a href="{{breadcrumb.url}}">{{breadcrumb.title}}</a>
            </span>
        </div>
        <div class="networks" ng-click="toggleSocial($event)">
            <a ng-click="openSocial('https://plus.google.com/share?url=http://news.kerrywpowell.com')">
                <div class="network google"></div>
            </a>

            <a ng-click="openSocial('https://www.facebook.com/sharer/sharer.php?u=http://news.kerrywpowell.com')">
                <div class="network facebook"></div>
            </a>

            <a ng-click="openSocial('https://twitter.com/intent/tweet?url=http://news.kerrywpowell.com&text=rank%20your%20news%20at:')">
                <div class="network twitter"></div>
            </a>
        </div>

    </nav>
</header>

<div ng-view class="view-container"></div>



<div id="fb-root"></div>

</body>
</html>