<header class="sub rank">
    <button class="menu" ng-click="toggle($event)"></button>
    <form class="dropdown">
        <div class="field">
            <label for="bias">Bias</label>
            <input type="range" min="1" max="10" id="bias" ng-model="feedback.bias"/>
        </div>

        <div class="field">
            <label for="quality">Quality</label>
            <input type="range" min="1" max="10" id="quality" ng-model="feedback.quality"/>
        </div>

        <div class="field">
            <label for="relevance">Relevance</label>
            <input type="range" min="1" max="10" id="relevance" ng-model="feedback.relevance"/>
        </div>
        <input type="submit" value="Submit" ng-click="submit()"/>
    </form>

</header>
<iframe ng-src="{{url}}"></iframe>
<div class="modal">
    <div class="message-box">
        <h1 class="success">Your rating has been submitted...</h1>
        <div class="action">
            <h2>Share Article</h2>
            <div class="networks" ng-click="toggleSocial($event)">
                <a title="Google+" ng-if="isIos()" href="https://plus.google.com/share?url={{getCurrentUrl()}}" target="_blank">
                    <div class="network google"></div>
                </a>

                <a title="Google+" ng-if="!isIos()" ng-click="openSocial('https://plus.google.com/share?url='+getCurrentUrl()+'&embed=true')">
                    <div class="network google"></div>
                </a>

                <a title="Facebook" ng-if="isIos()" href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]={{getCurrentUrl()}}" target="_blank">
                    <div class="network facebook"></div>
                </a>

                <a title="Facebook" ng-if="!isIos()" ng-click="openSocial('https://www.facebook.com/sharer/sharer.php?s=100&p[summary]=I just ranked this article on newzrank.com&p[title]=I just ranked this article on newzrank.com&p[url]='+getCurrentUrl())">
                    <div class="network facebook"></div>
                </a>

                <a title="Twitter" ng-if="isIos()" href="https://twitter.com/intent/tweet?url={{getCurrentUrl()}}&text=I just ranked an article at newzrank.com. Read the article here: {{getCurrentUrl()}}" target="_blank">
                    <div class="network twitter"></div>
                </a>

                <a title="Twitter" ng-if="!isIos()" ng-click="openSocial('https://twitter.com/intent/tweet?url='+getCurrentUrl()+'&text=I just ranked an article at newzrank.com. Read the article here: '+getCurrentUrl())">
                    <div class="network twitter"></div>
                </a>
            </div>

        </div>
        <div class="action">
            <button ng-click="mbActionClick('back')">Read another article</button>
            <button ng-click="mbActionClick('stay')">Return to this article</button>
        </div>
    </div>
</div>