<div class="page-container">
    <header class="sub"><h1>{{org.org_name}} Feeds</h1></header>
    <section ng-repeat="feed in feeds" class="feed">
        <header class="expandable collapsed" ng-click="loadRSS(feed, $event)">
            <h1>{{feed.feed_name}}</h1>
        </header>
        <a itemscope itemtype="http://schema.org/Article" class="article" ng-click="setCurrentArticle(article, feed)" ng-repeat="article in feed.articles">
            <article>
                <h2 itemprop="name">{{article.title}}</h2>
                <div itemprop="datePublished" class="date">{{article.publishedDate | date:'medium'}}</div>

                <img itemprop="image" ng-if="article.mediaGroups.length > 0" ng-src="{{getThumb(article)}}"/>
                <span itemprop="description" class="snippet">{{article.contentSnippet}}</span>
            </article>
        </a>
    </section>
</div>