<div class="page-container">
    <header class="sub toolbar">
        <span class="toggle">
            <button class="selected" ng-click="toggle($event, 'orgs')">Organization</button>
            <button ng-click="toggle($event, 'rank')">Rank</button>
        </span>
    </header>
    <section id="orgs" class="toggle">
        <span class="options search">
            <label for="find">Search:</label>
            <input type="search" id="find" ng-model="find"/>
        </span>
        <a itemscope itemtype="http://schema.org/Organization" ng-repeat="org in orgs | filter:find" ng-click="setCurrentOrg(org)" title="{{org.org_name}}">
            <span class="helper"></span>
            <img class ="org" ng-src="logos/{{org.org_id}}.png" alt="{{org.org_name}}">
        </a>
    </section>

    <section id="rank" class="feed toggle">
        <span class="options">
            <label for="sortBy">Sort By:</label>
            <select id="sortBy" ng-model="sortBy">
                <option value="avgRank">Average</option>
                <option value="bias">Bias</option>
                <option value="quality">Quality</option>
                <option value="relevance">Relevance</option>
                <option value="popularity">Popularity</option>
            </select>
        </span>
        <section class="rank" ng-repeat="category in categories">
            <header class="sub category">
                <h2>{{category}}</h2>
            </header>
            <a itemscope itemtype="http://schema.org/Article" class="article"
               ng-click="setCurrentArticle(article)"
               ng-repeat="article in articles | orderBy : sortBy : sortDirection()"
               ng-if="article.category_name == category"
            >
                <article>
                    <div class="rank">{{getRank(article)}}</div>
                    <h2 itemprop="name">{{article.title}}</h2>
                    <div itemprop="datePublished" class="date">{{article.publishedDate | date:'medium'}}</div>

                    <img itemprop="image" ng-if="article.mediaGroups.length > 0" ng-src="{{article.mediaGroups[0].contents[0].url}}"/>
                    <span itemprop="description" class="snippet">{{article.contentSnippet}}</span>
                </article>
            </a>
        </section>
    </section>
</div>