header {
  background: $black;
  max-width: 100%;

  @import "navigation";
  .container {
    width: 80%;
    margin: 0px auto;
    margin: 1rem 0 1rem 2rem;
    display: inline-block;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    h1 {

      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
      font-size: 2.5rem;
      margin-left: 1rem;

      .yellow {
        color: $yellow
      }
      .gray {
        color: $gray;
      }
    }
  }
}