.nav {
  background: $gray;
  height: 1.8rem;
  border-top: 1px solid $yellow;
  border-bottom: 1px solid $black;

  .breadcrumbs {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    padding-top: .3rem;

    .breadcrumb {
      a {
        color: $white;
        font-size: 1rem;
      }

      &:not(:last-child):after {
        content: '\2799';
        font-size: 1rem;
        color: $white;
      }
    }
  }
  @import "social";
}