.options {
  background: $black;
  color: $yellow;
  padding: .7rem;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  label {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &.search {
    max-width: 40rem;
    text-align: left;

    input[type=search] {
      width: 85%;
    }
  }

  &:not(.search) {

    &:before {
      width: 0;
      height: 0;
      display: inline-block;
      position: relative;
      top: 2.7rem;
      content: '';
      left: -1.2rem;
      border-bottom: 1.2rem solid transparent;
      border-right: 2rem solid $gray;
      border-left: .5rem solid transparent;
      box-sizing: border-box;
      z-index: -1;
      -webkit-margin-before: .1rem;
    }

    select {
      background: $gray;
      color: $yellow;
      border: none;
      padding: .5rem;
      font-size: 1rem;
      width: 8rem;
      margin-left: 1rem;

      option {
        &:hover {
          background: $yellow;
          color: $black;
        }
      }
    }
  }
}