a:not(.article) {
  height: 13rem;
  width: 13rem;
  display: inline-block;
  background: $gray;
  border: 5px solid $black;
  vertical-align: top;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  @include box-sizing(border-box);
  cursor: pointer;

  &:active {
    background: $gray;
  }

  .helper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  img {
    max-width: 10rem;
    vertical-align: middle;
  }
}