.social {
  background: $gray;
  height: 1.8rem;
  border-top: 1px solid $yellow;
  border-bottom: 1px solid $black;

  .networks {
    color: $yellow;
    cursor: pointer;
    width: 30rem;

    &:hover {
      color: $white;
    }

    &.collapsed {
      -webkit-transition:all cubic-bezier(0,0,1,1) .1s;
      transition:all cubic-bezier(0,0,1,1) .1s;
      position: relative;
      left: -21rem;

      &:after {
        content: 'Share \2799';
        text-transform: uppercase;
        font-size: 1.5rem;
      }
    }

    &.expanded {
      -webkit-transition:all cubic-bezier(0,0,1,1) .1s;
      transition:all cubic-bezier(0,0,1,1) .1s;
      position: relative;
      left: 1rem;

      &:before {
        content: '\2799';
        display: inline-block;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
        vertical-align: middle;
      }

    }

    .network {
      display: inline-block;
      margin: 0.2rem .5rem;

      &.google {
        max-width: 4rem;
      }

      div, iframe {
        vertical-align: middle !important;
      }
    }
  }


  .tweet_button {
    background: none;
    border: none;
  }
}